<!DOCTYPE html>
<html>
  <head>
    <title>eyeMUSIC</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="icon" type="image/png" href="/logo.png" />

  </head>

  <body>
    <%= yield %>
  </body>
</html>
